In [4]:
import pandas as pd

In [6]:
citi201808_data = pd.read_csv("Citi_Data/JC-201808-citibike-tripdata.csv", error_bad_lines=False)
citi201809_data = pd.read_csv("Citi_Data/JC-201809-citibike-tripdata.csv", error_bad_lines=False)
citi201810_data = pd.read_csv("Citi_Data/JC-201810-citibike-tripdata.csv", error_bad_lines=False)
citi201811_data = pd.read_csv("Citi_Data/JC-201811-citibike-tripdata.csv", error_bad_lines=False)
citi201812_data = pd.read_csv("Citi_Data/JC-201812-citibike-tripdata.csv", error_bad_lines=False)
citi201901_data = pd.read_csv("Citi_Data/JC-201901-citibike-tripdata.csv", error_bad_lines=False)
citi201902_data = pd.read_csv("Citi_Data/JC-201902-citibike-tripdata.csv", error_bad_lines=False)
citi201903_data = pd.read_csv("Citi_Data/JC-201903-citibike-tripdata.csv", error_bad_lines=False)
citi201904_data = pd.read_csv("Citi_Data/JC-201904-citibike-tripdata.csv", error_bad_lines=False)
citi201905_data = pd.read_csv("Citi_Data/JC-201905-citibike-tripdata.csv", error_bad_lines=False)
citi201906_data = pd.read_csv("Citi_Data/JC-201906-citibike-tripdata.csv", error_bad_lines=False)
citi201907_data = pd.read_csv("Citi_Data/JC-201907-citibike-tripdata.csv", error_bad_lines=False)
citi201908_data = pd.read_csv("Citi_Data/JC-201908-citibike-tripdata.csv", error_bad_lines=False)

In [7]:
citi_frames = [citi201808_data, citi201809_data, citi201810_data, citi201811_data, citi201812_data, citi201901_data, citi201902_data, citi201903_data, citi201904_data, citi201905_data, citi201906_data, citi201907_data, citi201908_data]
citi_result = pd.concat(citi_frames)
citi_result.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,903,2018-08-01 06:40:33.3610,2018-08-01 06:55:37.1060,3183,Exchange Place,40.716247,-74.033459,3270,Jersey & 6th St,40.725289,-74.045572,29612,Subscriber,1977,1
1,78,2018-08-01 08:21:00.1450,2018-08-01 08:22:18.6310,3183,Exchange Place,40.716247,-74.033459,3184,Paulus Hook,40.714145,-74.033552,29791,Subscriber,1975,1
2,405,2018-08-01 08:43:52.5150,2018-08-01 08:50:37.6140,3183,Exchange Place,40.716247,-74.033459,3202,Newport PATH,40.727224,-74.033759,29571,Subscriber,1973,1
3,155,2018-08-01 09:48:24.9450,2018-08-01 09:51:00.9360,3183,Exchange Place,40.716247,-74.033459,3275,Columbus Drive,40.718355,-74.038914,29504,Subscriber,1971,1
4,453,2018-08-01 12:15:35.1230,2018-08-01 12:23:08.8880,3183,Exchange Place,40.716247,-74.033459,3273,Manila & 1st,40.721651,-74.042884,33669,Subscriber,1993,1

In [8]:
citi_result.to_csv('Citi_Total_data.csv')

In [9]:
citi_result.dtypes

tripduration                 int64
starttime                   object
stoptime                    object
start station id             int64
start station name          object
start station latitude     float64
start station longitude    float64
end station id               int64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                    object
birth year                   int64
gender                       int64
dtype: object